<!DOCTYPE html>
<html>
<head>
  <title>Convertor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header">
	<div class="top">
		<div class="top-left">
			online convertor
		</div>
		<div class="top-right">
			<%= get_user %>
		</div>
	</div>
</div>


<div class="nav">
	<ul class="nav_menu">
		<%= nav_link "Home", root_path %>
		<%= nav_link "News", '#' %>
		<% if user_signed_in? %>
			<%= nav_link "Convert", request_path(first_converter) %>
			<%= nav_link "Requests", my_requests_path %>
			<ul class="nav_menu pull-right">
				<%= nav_link "Edit profile", edit_user_registration_path %>
				<%= nav_link "Logout", destroy_user_session_path, method: :delete %>
			</ul>
		<% else %>
			<ul class="nav_menu pull-right">
				<%= nav_link "Sign up", new_user_registration_path %>
				<%= nav_link "Login", new_user_session_path %>
			</ul>
		<% end %>
		<%= nav_link "Contact", '#' %>
		<%= nav_link "About", '#' %>
	</ul>
</div>
<div class="error_messages">
	<%= set_messages %>
</div>
<div class="banner_wrapper">
  <div class="banner_image">
  </div>
</div>

<div class="main_div">
	<%= yield %>
</div>
<div class="footer">

</div>
</body>
</html>
