<!DOCTYPE html>
<html>
<head>
  <title>Convertor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header">
	<div class="top">
		<div class="top-left">
			online convertor
		</div>
		<div class="top-right">
			<%= get_user %>
		</div>
	</div>
	<div class="nav">
		<% if user_signed_in? %>
			<ul class="nav_menu">
				<li><%= nav_link "Users", users_path %></li>
				<li><%= nav_link "Request", requests_path %></li>
			</ul>
			<ul class="nav_menu pull-right">
				<li><%= nav_link 'Edit profile', edit_user_registration_path %></li>
				<li><%= nav_link "Logout", destroy_user_session_path, method: :delete %></li>
			</ul>
		<% else %>
			<ul class="nav_menu pull-right">		
				<li><%= nav_link "Sign up", new_user_registration_path %></li>
				<li><%= nav_link "Login", new_user_session_path %></li>
			</ul>
		<% end %>
	</div>
	<div class="error_messages">
		<% [:notice, :alert].each do |message| %>
			<%= flash[message] if flash[message] %>
		<% end %>
	</div>	
</div>
<div class="main_div">
	<%= yield %>
</div>
<div class="footer">

</div>
</body>
</html>
