<div class="form"> 
	<div class="form-title"><%= @converter.name %></div>	
		<%= form_for @request do |f| %>
				<div>
					<%= f.label :source_url %>
					<%= f.text_field :source_url, value: "http://met.live.mediaspanonline.com/assets/31069/example-608web_w608.jpg" %>
				</div>
				<div>
					<%= f.label :convert_to %>
					<%= f.select :convert_to, options_from_collection_for_select( @converter.formats, "format", "format" ) %>
				</div>
				<%= f.submit %>
		<% end %>
</div>
