<div class="form"> 
	<div class="form-title"><%= @converter.name %></div>	
		<%= form_for @request do |f| %>
				<div>
					<%= f.label :source_url %>
					<%= f.text_field :source_url, placeholder: "FILE URL", value: @text_value %>
				</div>
				<div>
					<%= f.label :format_id %>
					<%= f.select :format_id, options_from_collection_for_select( @converter.formats, "id", "format" ) %>
				</div>
				<div>
					<%= f.label "Upload file" %>
					<%= f.file_field :file %>
				</div>
				<%= f.submit %>
		<% end %>
</div>
